.code-editor {
  height: 100%;
  border: 1px solid var(--vp-c-divider);
  border-radius: 6px;
  overflow: hidden;
}

.code-editor .monaco-editor,
.code-editor .monaco-editor .overflow-guard {
  border-radius: 6px;
}
